.menu-container {
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    column-gap: 1rem;
    //top: -5rem;
}

section {
    padding-top: 7%;
    background: #eee;
}
